*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-texto .tabla-aisgnatura{
    color: whitesmoke;
    font-size: 14px;;
}

#sec1 .contenedor-texto{
    font-size: 15px;;
}

#sec2 .contenedor-texto{
    font-size: 15px;
}
#sec4{
    padding-top: 100px;
    height: 100%;
}
/*Inicio Malla curricular*/
#sec4 .tabla{
    color:white; 
    font-size: 10px;;
}
#sec4 .detalles .fas{
    font-size: 80%;
}
#sec4 .detalles i{
    padding-left: 80%;
}
#sec4 .detalles #tabla1, #tabla2, #tabla3{
    font-size: 100%;
}
#sec4 .detalles #lista1{
    font-size: 100%;
}

#sec4 .detalles{
    padding-top: 10px;
    font-size: 11px;;
    color: whitesmoke;
}
/*Fin Malla Curricular*/

section{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    padding-left: 8%;
    padding-right: 8%;
}

section h2{
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
section h6{
    font-size: 1.0em;
    letter-spacing: 2px;
    color: #fff;
}

section p{
    font-weight: 300;
    margin-bottom: 15px;
}
section:nth-child(1){
    background-image: linear-gradient(to top, #6398BB 0%, #004AC3 100%);
}
section:nth-child(2){
    background-image: linear-gradient(to top, #0582AE 0%, #6398BB 100%);
}
section:nth-child(3){
    background-image: linear-gradient(to top, #05AE9F 0%, #0582AE 100%);
}
section:nth-child(4){
    background-image: linear-gradient(to top, #00256C 0%, #05AE9F 100%);
}

section a{
    display: inline-block;
    padding: 7px 0;
    color: #283773;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
    background: #fff;
}

html{
    scroll-behavior: smooth;
}
@media screen and (max-width: 1000px){
    section{
        flex-direction: column-reverse;
        height: 1000px;
    }
    section > img{
        heigh: 25%;
    }
    .contenedor-texto{
        text-align: center;
    }
    #sec4 .tabla{
        font-size: 35%;
    }
    #sec4 .detalles{
        font-size: 50%;
    }

}
@media screen and (max-width: 375px){
    section > img{
        heigh: 12%;
    }
}
img{
    height: 40%;
}


